body {
    font-family: Arial, sans-serif;
    background-size: cover; /* Visa bakgrundsbilden så att den täcker hela fönstret */
    background-repeat: no-repeat; /* Förhindra upprepning av bakgrundsbilden */
    background-attachment: fixed; /* Få bakgrundsbilden att vara fixerad på plats när användaren skrollar */
    background-position: center; /* Centrera bakgrundsbilden */
}

.header {
    text-align: center;
    width: 20rem;
    max-width: 600px;
    margin: 2rem auto;
    padding: 15px;
    background-color: #ffffff83;
    border-radius: 
    20rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    margin-top: 15rem;
}

.username h1:hover {
    opacity: 0.7; /* Justera värdet för att ändra genomskinligheten när du hovrar över */
}

.time-bold {
    font-weight: bolder;
}

.dashboard {
    display: flex;
    justify-content: center;
    width: 100rem;
    max-width: 120rem; /* Ändra bredden på behov */
    margin: 2rem auto;
}

.dashboard-section {
    background-color: #ffffffc0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Avstånd mellan dashboard-sektionerna */
    height: auto; /* Ändrat från 27rem till auto för att hantera dynamiskt innehåll */
    max-width: 15rem;
    flex: 1;
    padding: 20px;
}

.dashboard-section h3,
.dashboard-section h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.dashboard-section ul,
.dashboard-section ul {
    list-style: none;
    padding: 0;
}

.dashboard-section li,
.dashboard-section li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 8px;
}

.dashboard-section a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

/* Styla knappen "Ta bort" */
.removebtn {
    float: right; /* Float the button to the right */
    background-color: white;
    color: #796d6d;
    border-color: #8d8d8d9a;
    padding: 1px 6px; /* Adjusted padding */
    cursor: pointer;
    border-radius: 50%; /* Adjusted border radius */
    font-size: 12px; /* Adjusted font size */
    box-shadow: none;
    z-index: 1000;
}

.removebtn:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

/* Styla knappen "Lägg till anteckning" */
.anteckningbtn {
    background-color: #007bff; /* Blå färg */
    color: #ffffff; /* Vit text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Styla knappen "Lägg till anteckning" vid hover */
.anteckningbtn:hover {
    background-color: #0056b3; /* Mörkare blå vid hover */
}

.nybildbtn {
    background-color: #007bff; /* Blå färg */
    color: #ffffff; /* Vit text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; /* Fäst knappen längst ner på sidan */
    bottom: 20px;
    left: 50%; /* Placera knappen i mitten horisontellt */
    transform: translateX(-50%); /* Justera knappen så den är centrerad */
    z-index: 999; /* Säkerställ att knappen visas ovanför andra element */

}

/*  "#" används för att välja ett element med ett specifikt ID-attribut. */
.dashboard-section textarea#noteInput {
    border: 1px solid #ccc; /* Ram runt textinmatningsfältet */
    border-radius: 5px; /* Avrundade hörn för textinmatningsfältet */
    padding: 10px; /* Utfyllnad inuti textinmatningsfältet */
    width: 100%; /* Bredden på textinmatningsfältet */
    height: 23rem;
    box-sizing: border-box; /* Säkerställ att bredden inkluderar ramen och utfyllnaden */
}


.quick-links.weather textarea::placeholder {
    text-align: center;
}

/* Modalen */
.modal {
    display: none; /* Dölj modalen som standard */
    position: fixed; /* Håll modalen på plats */
    z-index: 1; /* Lägg modalen ovanpå allt annat */
    left: 0;
    top: 0;
    width: 100%; /* Full bredd */
    height: 100%; /* Full höjd */
    overflow: auto; /* Aktivera rullning om det behövs */
    background-color: rgb(0,0,0); /* Svart bakgrund med lite genomskinlighet */
    background-color: rgba(0,0,0,0.4); /* Svart bakgrund med lite genomskinlighet */
}

/* Modalinnehåll */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% från toppen och centrerad */
   
